* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/image/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1800px, 100vw);
    height: 108vh;
    position: inherit;
}

.main .box {
    height: 108vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0%;
}

nav {
    max-width: 76vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: rgb(255, 0, 0);
    width: 150px;
    position: relative;
    z-index: 10;
    margin-top: 20px;
}

nav button {
    position: relative;
    z-index: 10;
    margin-top: 20px;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 8px;
    background-color: rgb(51, 51, 51);
    position: relative;
    z-index: 10;
}

.btn {
    padding: 4px 35px;
    margin-right: 20px;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.096);
    border: 1px solid white;
    color: white;
    border-radius: 4px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 10px 24px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid rgb(255, 0, 0);
}

.btn-red-2 {
    background-color: red;
    color: white;
    padding: 10px 24px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid rgb(255, 0, 0);
    margin-top: 20px;
    margin-bottom: 80px;
}

.btn-red-sm {
    padding: 5px 14px;
    background-color: red;
    color: white;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 4px;
}


.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.second-search {
    padding: 16px 130px 16px 14px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, );
    color: white;
    border: 1px solid rgba(134, 134, 134, 0.7);
    margin-top: 20px;
    margin-bottom: 80px;
}

second-search input {
    background-color: rgba(23, 23, 23, 0.5);
}

.main input {
    padding: 16px 130px 16px 14px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.5);
    color: white;
    border: 1px solid rgba(134, 134, 134, 0.7);
}

.first {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: auto;
    max-width: 70vw;
    color: white;
    z-index: 1;
    overflow: hidden;
}

.secimg {
    position: relative;
    padding: 80px 0;
}

.secimg img {
    width: 40vw;
    position: relative;
    z-index: 8;
}

.tv-1 {
    position: absolute;
    top: 158px;
    right: 58px;
}

.third {
    position: absolute;
    top: 109px;
    right: 0px;
}

.first .h1 {
    font-size: 48px;
    font-weight: bolder;
}

.first .h2 {
    font-weight: 24px;
    font-weight: 300;
}

.first .secimg .third {
    padding-right: 100px;
}

.faqbox h4 {
    font-size: 48px;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.box-item:hover {
    background-color: rgb(56, 55, 55);
}

.box-item {
    transition: all 0.2s ease-in-out;
    height: 55px;
    width: 72vw;
    color: white;
    background-color: rgb(46, 45, 45);
    padding-top: 30px;
    padding-left: 30px;
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    cursor: pointer;
}

.parent-box {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.end-box {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    font-size: 20px;
    color: white;
}

footer {
    padding: 70px 0px;
}

footer p{
    font-weight: 200;
    padding-top: 20px;
}

.row {
    display: flex;

}

.container {
    max-width: 1170px;
    margin: auto;
    color: white;
}

.container .btn{
    margin-top: 20px;
}

.container p{
    padding-bottom: 20px;
}

.container a {
    color: white;
}

.footer-col {
    width: 25%;
    padding: 0 5px;
}

ul {
    list-style: none;
    font-weight: 200;
}

ul li {
    padding: 8px 0px;
}

ul li a {
    color: white;
}